
@{
    ViewBag.Title = "Legume";
}

<h2>Legume</h2>

<table border=1>
    <tr>
        <th>Nom </th>
        <th>Description </th>
        <th>Masse </th>
        <th>Prix </th>
    </tr>
    @foreach (var legume in Model)
    {
        <tr>
            <td>@legume.Nom</td>
            <td>@legume.Description</td>
            <td>@legume.Masse</td>
            <td>@legume.Prix</td>
        </tr>
    }
</table>