@{
    ViewBag.Title = "Qui sommes nous ?";
}
<h2>@ViewBag.Title.</h2>
<p>Juste à côté est un projet visant à fournir aux petits commerçants une meilleure visibilité grâce à un site Internet. <br/>
   Nous assurons le service pour promouvoir le commerce de proximité.
</p>
<h3>@ViewBag.Message</h3>


