@{
    ViewBag.Title = "Page d'accueil";
}

<div class="jumbotron">
    <h1>Juste à côté</h1>
    <p class="lead">Vos commerçants à portée de clics! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Découvrir les commerces &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p><a class="btn btn-default"> &raquo;</a></p>
    </div>
   
</div>